---
import { Icon } from "astro-icon/components";
---

<section class="footer">
    <a href="#" class="footer__copyright">
        <Icon name="lucide:copyright" />
        <span>2026 Digital Evidence. All rights reserved.</span>
    </a>
</section>
