<section class="hero">
    <div class="hero__container">

        <div class="hero__media">
            <img class="hero__image" src="src/assets/hero_light.svg" alt="Hero Image">
        </div>

        <div class="hero__content">

            <div class="hero__text">
                <a class="hero__brand" href="">
                    DIFR / FORENSICS BLOG
                </a>

                <h1 class="hero__title">
                    Digital evidence never lies.<br/>
                    It just needs the right questions.
                </h1>

                <p class="hero__description">
                    A space for sharing knowledge, tools, and lessons learned in digital forensics and incident response.
                </p>

                <button class="hero__cta">
                    &gt;_ Explore Latest Articles
                </button>
            </div>

        </div>

    </div>
</section>